<div class="container">
  <!-- Search Form Component -->
  <app-search-form
    (searchCompleted)="onSearchCompleted($event)"
    (clear)="onClear()"
  ></app-search-form>

  <!-- Centered Navigation Pills -->
  <div class="d-flex justify-content-center">
    <ul
      ngbNav
      #nav="ngbNav"
      [(activeId)]="activeTab"
      class="nav nav-pills mt-3"
    >
      <!-- Results Tab -->
      <li [ngbNavItem]="1" class="nav-item">
        <button ngbNavLink class="nav-link">Results</button>
        <ng-template ngbNavContent>
          <app-results
            *ngIf="searchResult"
            [searchResult]="searchResult"
            (resultsLoaded)="onResultsLoaded()"
          ></app-results>
        </ng-template>
      </li>

      <!-- Favorites Tab -->
      <li [ngbNavItem]="2" class="nav-item">
        <button ngbNavLink class="nav-link">Favorites</button>
        <ng-template ngbNavContent>
          <app-favorites
            (favoriteSelected)="onFavoriteSelected($event)"
          ></app-favorites>
        </ng-template>
      </li>
    </ul>
  </div>

  <!-- Navigation Content Outlet -->
  <div [ngbNavOutlet]="nav" class="mt-3"></div>
</div>
