<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Status</th>
      <th>Temp. High (&deg;F)</th>
      <th>Temp. Low (&deg;F)</th>
      <th>Wind Speed (mph)</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let day of dailyForecast"
      (click)="onRowClick(day)"
      style="cursor: pointer"
    >
      <td>{{ day.index }}</td>
      <td>{{ day.formattedDate }}</td>
      <td>
        <div class="d-flex align-items-center">
          <img
            src="/images/symbols/{{ day.weatherIcon }}.svg"
            alt="Weather Icon"
            class="weather-icon me-2"
            width="32"
          />
          <span>{{ day.weatherDescription }}</span>
        </div>
      </td>
      <td>{{ day.tempHigh }}</td>
      <td>{{ day.tempLow }}</td>
      <td>{{ day.windSpeed }}</td>
    </tr>
  </tbody>
</table>
