<div class="day-detail">
  <!-- Header -->
  <div class="header d-flex justify-content-between align-items-center p-3">
    <!-- List Button with Border and Left Chevron -->
    <button
      class="btn btn-outline-secondary d-flex align-items-center"
      (click)="handleGoBack()"
    >
      <i class="bi bi-chevron-left me-2"></i> List
    </button>

    <!-- Centered Title with White Background -->
    <h5 class="m-0 text-center p-2 rounded">
      {{ dayData?.formattedDate }}
    </h5>

    <!-- X Button with Border -->
    <button class="btn btn-outline-secondary" (click)="handlePostToX()">
      <img src="/twitter-x.svg" alt="X logo" />
    </button>
  </div>

  <!-- Details List -->
  <div class="details p-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex">
        <strong class="me-10">Status</strong>
        <span>{{ weatherDetails?.status }}</span>
      </li>
      <li class="list-group-item d-flex">
        <strong class="me-10">Max Temperature</strong>
        <span>{{ weatherDetails?.tempMax }}°F</span>
      </li>
      <li class="list-group-item d-flex">
        <strong class="me-10">Min Temperature</strong>
        <span>{{ weatherDetails?.tempMin }}°F</span>
      </li>
      <li class="list-group-item d-flex">
        <strong class="me-10">Apparent Temperature</strong>
        <span>{{ weatherDetails?.apparentTemp }}°F</span>
      </li>
      <li class="list-group-item d-flex">
        <strong class="me-10">Sun Rise Time</strong>
        <span>{{ weatherDetails?.sunRise | date : "shortTime" }}</span>
      </li>
      <li class="list-group-item d-flex">
        <strong class="me-10">Sun Set Time</strong>
        <span>{{ weatherDetails?.sunSet | date : "shortTime" }}</span>
      </li>
      <li class="list-group-item d-flex">
        <strong class="me-10">Humidity</strong>
        <span>{{ weatherDetails?.humidity }}%</span>
      </li>
      <li class="list-group-item d-flex">
        <strong class="me-10">Wind Speed</strong>
        <span>{{ weatherDetails?.windSpeed }} mph</span>
      </li>
      <li class="list-group-item d-flex">
        <strong class="me-10">Visibility</strong>
        <span>{{ weatherDetails?.visibility }} miles</span>
      </li>
      <li class="list-group-item d-flex">
        <strong class="me-10">Cloud Cover</strong>
        <span>{{ weatherDetails?.cloudCover }}%</span>
      </li>
    </ul>
  </div>

  <!-- Google Maps -->
  <div class="map p-3" *ngIf="weatherDetails">
    <google-map
      [center]="{ lat: weatherDetails.latitude, lng: weatherDetails.longitude }"
      [zoom]="10"
      height="400px"
      width="100%"
    >
      <map-marker
        [position]="{
          lat: weatherDetails.latitude,
          lng: weatherDetails.longitude
        }"
      >
      </map-marker>
    </google-map>
  </div>
</div>
