.list-group-item:nth-child(odd) {
  background-color: #f8f9fa;
}

.list-group-item:nth-child(even) {
  background-color: #ffffff;
}

.header h5 {
  flex: 1;
  text-align: center;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.btn .bi {
  font-size: 1.2em;
}

.btn-outline-secondary {
  padding: 0.5rem 1rem;
}

.list-group-item strong {
  width: 150px;
  display: inline-block;
}

@media (min-width: 992px) {
  .list-group-item strong {
    width: 300px;
  }
}
