<div>
  <!-- Error Alert -->
  <ngb-alert *ngIf="errorMessage" [dismissible]="false" type="danger">
    An error occurred, please try again later.
  </ngb-alert>

  <!-- Favorites Table -->
  <table
    class="table text-center"
    *ngIf="favorites.length > 0; else noFavorites"
  >
    <thead>
      <tr class="text-start">
        <th scope="col" class="text-start">#</th>
        <th scope="col" class="text-start">City</th>
        <th scope="col" class="text-start">State</th>
        <th scope="col" class="text-start"></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let favorite of favorites; let i = index"
        class="align-middle bg-white"
        style="background-color: white"
      >
        <th scope="row" class="align-middle text-start">{{ i + 1 }}</th>
        <td class="align-middle text-start">
          <a href="#" (click)="viewWeather(favorite)">{{ favorite.city }}</a>
        </td>
        <td class="align-middle text-start">
          <a href="#" (click)="viewWeather(favorite)">{{ favorite.state }}</a>
        </td>
        <td class="align-middle text-start">
          <button
            class="btn btn-delete"
            (click)="removeFavorite(favorite)"
            title="Remove Favorite"
          >
            <i class="bi bi-trash-fill fs-4 text-black"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- No Favorites Alert -->
  <ng-template #noFavorites>
    <ngb-alert [dismissible]="false">
      <strong>Sorry!</strong> No records found.
    </ngb-alert>
  </ng-template>
</div>
